*{
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: montserrat;
  background-color: #0F172A;
  color: lightgray;
}

h1{
  text-align: center;
  font-size: 48px;
  margin: 50px 0;
}
p{
  font-size: 20px;
  margin-bottom: 5px;
  text-align: center;
}

.texts{
  margin-bottom: 80px;
}

.btn-container{
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: auto;
  gap: 1rem;
}

.btn-container button{
  width: 25%;
  margin: auto;
  font-size: 20px;
  color: white;
  padding: 25px 30px;
  background-color: #EA580C;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.btn-container button:hover{
  opacity: 0.8;
}

.btn-container button:active{
  opacity: 0.6;
}

.game{
  overflow: hidden;
  white-space: nowrap;
  display: flex;
}

.wheel{
  background-color: #4f4f4f;
  color: darkolivegreen;
  margin-top: 150px;
  display: flex;
  font-size:40px;
  padding: 20px 0;
  animation: 3s slide infinite linear;
}

.wheel h2{
  margin: 0 150px;
}

@keyframes slide{
  from{
    transform: translateX(0)
  }
  to {
    transform: translateX(-100%);
  }
}

